@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Naskh Arabic', serif;
}

body {
  margin: 0;                 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
}